body {
	margin: 40px;
}

img {
	max-width: 80px;
	margin-bottom: 20px;
}

button {
	border: none;
}

#numberContainer {
	background-color: lightgreen;
}

#totalContainer {
	background-color: #FFFF99;
}

#options {
	margin-left: 160px;
}

#randomNumber {
	height: 120px;
}

#mainContent {
	margin-bottom: 20px;
}

